<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Privacy Policy - Elements by Ambiance Design Studio</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-sticky">
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="file"></i></div>
                                    Privacy policy
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mt-4">Last updated on July 3rd, 2022</div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card">
                    <div class="card-header">Introduction to Privacy Policy</div>
                    <div class="card-body">
                        <p>
                        This privacy policy (the <b>"PRIVACY POLICY"</b>) applies to your use of the website of Elements
                        by Ambiance Design Studio, the Services (as defined under the Elements "Terms of Use")
                        and applications on mobile platforms (Android, Blackberry, Windows Phone, iOS etc.)
                        (collectively ("ELEMENTS" or "WEBSITE")), but does not apply to any third party websites that
                        may be linked to them, or any relationships you may have with the businesses listed on Elements.
                        The terms <b>"WE"</b>, <b>"OUR"</b> and <b>"US"</b> refer to Elements and the terms
                        <b>"YOU"</b>, <b>"YOUR"</b> and <b>"USER"</b> refer to you, as a user of Elements.
                        The term <b>"PERSONAL INFORMATION"</b> means information that you
                        provide to us which personally identifies you to be contacted or identified, such as your
                        name, phone number, email address, and any other data that is tied to such information.
                        Our practices and procedures in relation to the collection and use of Personal Information
                        have been set-out below in order to ensure safe usage of the Website for you.
                        </p>
                        <p>
                        We have implemented reasonable security practices and procedures that are commensurate with
                        the information assets being protected and with the nature of our business.
                        While we try our best to provide security that is better than the industry standards,
                        because of the inherent vulnerabilities of the internet, we cannot ensure or warrant
                        complete security of all information that is being transmitted to us by you.
                        By visiting this Website, you agree and acknowledge to be bound by this Privacy Policy
                        and you hereby consent that we will collect, use, process and share your Personal Information
                        in the manner set out herein below. If you do not agree with these terms, do not use the Website.

                        It is clarified that the terms and conditions that are provided separately, form an integral
                        part of your use of this Website and should be read in conjunction with this Privacy Policy.
                        </p>
                        <h4>Information we collect and how we use it</h4>
                        <p>
                        We collect, receive and store your Personal Information.
                        If you provide your third-party account credentials (<b>"THIRD PARTY ACCOUNT INFORMATION"</b>)
                        to us, you understand that some content and information in those accounts may be transmitted
                        to your account with us if you authorise such transmissions and that
                        Third Party Account Information transmitted to us shall be covered by this Privacy Policy.
                        You may opt to not provide us with certain information, however that will restrict you from
                        registering with us or availing some of our features and services.
                        </p>
                        <p>
                        We use commercially reasonable efforts to ensure that the collection of Personal Information
                        is limited to that which is necessary to fulfill the purposes identified below.
                        If we use or plan to use your information in a manner different than the purpose for which it
                        is collected, then we will ask you for your consent prior to such use.
                        </p>
                        <p>
                        The Personal Information collected will be used only for the purpose of enabling you to use the
                        services provided by us, to help promote a safe service, calibrate consumer interest in our
                        products and services, inform you about online offers and updates, troubleshoot problems,
                        customize User experience, detect and protect us against error, fraud and other criminal
                        activity, collect money, enforce our terms and conditions, and as otherwise described to
                        you at the time of collection of such information.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="footer :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
